html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    color: #0F4C81;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body>header {
    background-color: #0F4C81;
    border: solid #0F4C81;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav {
    background-color: #0f4C81;
    color: white;
    text-align: center;

}
article {
    margin-left: 15px;
    margin-right: 15px;

}

.home_titulo {
    text-align: center;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;

}