html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    color: #0F4C81;
    text-decoration: none;
    font-family: 'Epilogue', 'Arial Narrow', sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

#titulo {
    background-color: #0F4C81;
    border: 10px solid #0F4C81;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    margin: 0px;
}

nav#barra {
    background-color: #0f4C81;
    color: white;
    text-align: center;
    font-size: 20px;
}

nav a {
    padding: 5px 10px;
    display: inline-block;
}

nav#barra ul {
    margin: 0;
    padding: 0;
    display: inline;

}

nav#barra ul li {
    display: inline-block;
}

nav#barra ul li:hover {
    background: #197acf;
}

nav#barra ul li:hover ul {
    display: block;
}

nav#barra ul li ul {
    position: absolute;
    display: none;
    width: 200px;
}

nav#barra ul li ul li {
    background: #197acf;
    display: block;
}

nav#barra ul li ul li a {display: block !important}

nav#barra ul li ul li:hover{background: #5797cf;}

main {
    margin: 0px 30px;
}

section#home_titulo {
    margin: 0px 15px;
}

section#home_titulo>h1 {
    margin: 20px 0;
    font-size: 40px;
}

article {
    margin: 0px 15px;

}

article h1 {
    font-size: 40px;
    margin: 20px 0px;
}

article p {
    color: #333604;
    font-size: 20px;
}

article code {
    font-size: 15px;
}

article footer p {
    font-size: 15px;
}
