<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/assets/css/style.css' | relative_url}}">
</head>
    
<body>    
    <header>
        <h1 id="titulo">
            <a href="{{'./' | relative_url}}">Entrega 1</a>
        </h1>
    </header>
    
    <nav id="barra">
        <ul>
            <li><a href="{{'./' | relative_url}}">Home</a></li>
            <li><a href="#">Posts</a>
                <ul>
                    {% for post in site.posts %}
                        <li><a href="{{post.url | relative_url}}">{{post.title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#">Nav 3</a></li>
            <li><a href="#">Nav 4</a></li>
        </ul>
    </nav>

    <main>
        {{content}}
    </main>


</body>
</html>